.box-stock {
    width: 300px;
    display: inline-block;
    height: auto;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.box-stock img {
    width: 300px;
    height: 200px;
}

.btn-click {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px;
    border: none;
    width: 100px;
}